.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.menu-container {
  display: flex;
  align-items: center;
  background-color: none;

}

.menu-container .ant-menu {
  margin-right: 10px; /* Adjust as needed */
}
.menu{
color: blueviolet;
display:inline-block;
}
.logo {
  color: white;
  font-size: 24px;
  font-weight: bold;
}
.hero-left{
  background: royalblue;
  align-items: center;
}
.services-section {
  text-align: center; /* Center the title and cards */
  padding: 20px; /* Add some padding */
}

.cards-container {
  display: flex;
  justify-content: center; /* Center the cards horizontally */
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  gap: 20px; /* Add space between cards */

}
.hero-section{
 
  margin-top: 20px; 
  border: 10px;
}